* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.topnav {
    background-color: #333;
    overflow: hidden;
    list-style-type: none;
}

.topnav img {
    float: left;
    margin: 0 20px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav li {
    display: inline;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-image: linear-gradient(90deg,rgb(240, 103, 240), rgb(20, 171, 187));
    color: white;
}